.form{
  background-color: $twitter-background;

  .login, .register{
    background-color: #fff;
    padding: 30px;
    height:250px;
  }

  .input {
    width: 100%;
    padding:  10px;
    margin: 10px;
    border: 2px solid #1DA1F2;
    border-radius: 3px;
    font-size: 18px;

    &:focus {
      outline:none;
    }
  }


  .sidebar__tweet{
    padding: 5px 20px;
    cursor: pointer;
  }
}


.widgets {
  flex: 0.3;

&__input {
  display: flex;
  align-items: center;
  background-color: var(--twitter-background);
  padding: 10px;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 20px;

  & > input {
    border: none;
    background-color: var(--twitter-background);
  }
}


&__searchIcon {
  color: gray;
}

&__widgetContainer {
  margin-top: 15px;
  margin-left: 20px;
  padding: 20px;
  background-color: #f5f8fa;
  border-radius: 20px;

  & > h2 {
    font-size: 18px;
    font-weight: 800;
  }
}

}